# Supabase PostgreSQL
DATABASE_URL="postgresql://postgres.[PROJECT-ID]:[PASSWORD]@aws-0-sa-east-1.pooler.supabase.com:6543/postgres"

# Chave de autenticação da API
API_KEY="gere-uma-chave-segura-aqui"
